/*
* Background component
*/

.c-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;

  &__img {
    background-image: url('../src/img/galaxy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;

    &::after {
      background-color: rgba(black, 0.8);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  &__pattern {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    &-bottom {
      background-image: url('../src/img/pattern.png');
      background-repeat: no-repeat;
      background-size: cover;
      bottom: -6rem;
      height: 30rem;
      left: -5rem;
      position: absolute;
      width: 30rem;
      z-index: 0;

      @media only screen and ($md) {
        bottom: -12rem;
        height: 60rem;
        left: -10rem;
        width: 60rem;
      }
    }

    &-right {
      background-image: url('../src/img/pattern.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 30rem;
      position: absolute;
      right: -6rem;
      top: -16rem;
      width: 30rem;
      z-index: 0;

      @media only screen and ($md) {
        height: 60rem;
        right: -15rem;
        top: -32rem;
        width: 60rem;
      }
    }
  }
}
