/*
* Card component
*/

.c-card {
  // border: 0.1rem solid lime;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;

  &__overlay {
    background-image:
      linear-gradient(
        90deg,
        rgba(#fcee21, 0.8) 0%,
        rgba(#fbb03b, 0.8) 100%
      );
    border-radius: 2rem;
    height: 100%;
    left: 0;
    max-width: 41.5rem;
    position: absolute;
    top: 0;
    width: 100%;

    &::after {
      background-image: url('/src/img/logo-overlay.png');
      background-position: 3rem center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 2rem;
      content: '';
      display: block;
      height: calc(100% - 6rem);
      left: 0;
      position: absolute;
      top: 3rem;
      width: 100%;
    }
  }

  &__image {
    align-items: center;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 3rem;
    max-width: 35rem;
    overflow: hidden;
    width: 100%;

    img {
      border: 0.1rem solid red;
      max-height: 35rem;
      max-width: 41.5rem;
      z-index: 2;
    }
  }

  &__info {
    background-color: #242424;
    // border: 0.1rem solid aquamarine;
    border-radius: 2rem;
    height: 100%;
    padding: 2rem;
    width: 100%;

    @media only screen and ($md) {
      max-height: 41.5rem;
      max-width: 56.5rem;
      padding: 3rem;
      position: absolute;
      right: 0;
      top: 3rem;
      z-index: 1;
    }

    &-wrapper {
      border: 0.1rem solid aquamarine;
      margin-left: 16rem;
    }
  }

  &__heading {
    font-family: $russo;
    font-size: 3.5rem;
    line-height: 1.15;
    margin-bottom: 3rem;
    text-align: left;
    text-transform: uppercase;
  }

  &__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 3rem;

    li {
      background-color: rgba($blue, $alpha: 0.15);
      border-radius: 2rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 0.5rem;
      margin-right: 1rem;
      padding: 0.5rem 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @media only screen and ($md) {
      flex-direction: row;
      margin-bottom: 3rem;
    }
  }

  &__col {
    width: 50%;
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    text-align: left;

    > span {
      color: $blue;
      display: inline-block;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.1;
      text-transform: capitalize;
      width: 50%;
    }

    &-number {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 1.6rem;
      line-height: 1.1;
      width: 50%;

      span {
        margin-right: 0.5rem;
      }
    }
  }

  &__cart {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media only screen and ($md) {
      margin-bottom: 3rem;
    }

    &-price {
      font-size: 4rem;
      font-weight: 300;
      line-height: 1.2;
      margin-right: 3rem;
    }

    &-cta {
      background-color: $yellow;
      background-image:
        linear-gradient(
          90deg,
          rgba(#fcee21, 0.8) 0%,
          rgba(#fbb03b, 0.8) 100%
        );
      border: none;
      border-radius: 2rem;
      color: black;
      display: inline-flex;
      font-family: $dosis;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.2;
      padding: 0.7rem 2rem;
      text-transform: uppercase;
      transition: all ease-in 0.2s;

      &:hover,
      &:focus {
        background-image:
          linear-gradient(
            90deg,
            rgba(#fcee21, 0.8) 0%,
            rgba(#fbb03b, 0.8) 70%
          );
        transition: all ease-out 0.2s;
      }
    }
  }
}

#card-0 {
  background-color: pink;
}

#card-9 {
  background-color: aquamarine;
}
