/*
* Card component
*/

.c-card {
  background-color: aliceblue;
  margin: 0.5rem;
  min-width: calc(100% - 1rem);
  padding: 3rem 1rem;
  text-align: center;

  &__wrapper {
    border: 0.1rem solid aquamarine;
    height: 100%;
  }
}

#card-0 {
  background-color: pink;
}

#card-9 {
  background-color: aquamarine;
}
