/*
* Card component
*/

.c-select {
  border: none;
  border: 0.1rem solid $blue;
  display: block;
  user-select: none;
  width: 100%;

  &__custom {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__trigger {
    align-items: center;
    background: transparent;
    border: none;
    color: $blue;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem;

    &-text {
      color: $blue;
      font-family: $dosis;
      font-size: 1.6rem;
      letter-spacing: 0.02rem;
      line-height: 1.375;
    }

    &-icon {
      background-color: blue;
      // background-image: url("/themes/custom/crrp/dist/img/icons/arrow-down-desktop.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      border-radius: 0;
      height: 1.5rem;
      margin-left: 1rem;
      width: 1.5rem;
    }
  }

  &__options {
    border: 0.1rem solid $blue;
    display: block;
    left: 0;
    opacity: 0;
    padding: 0.5rem 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition: all 0.25s;
    visibility: hidden;
    z-index: 2;

    &-custom {
      color: $yellow;
      cursor: pointer;
      display: block;
      font-family: $russo;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.02rem;
      line-height: 1.375;
      padding: 1rem 2rem;
      position: relative;
      transition: all 0.25s;

      &:hover {
        color: $blue;
        cursor: pointer;
      }

      // &.selected {
      //   background-color: #305c91;
      //   color: #fff;
      // }
    }
  }

  &.is-open {
    .c-select__options {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }

    .c-select__trigger-icon {
      background-color: lime;
    }
  }
}
