// Define colors
$yellow: #fcee21;
$blue: #00dfd6;

// Define breakpoints
$sm: 'min-width: 30em'; // 480px
$md: 'min-width: 62em'; // 992px
$lg: 'min-width: 80em'; // 1280px

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;

  &:focus {
    outline: rgb(59, 153, 252) auto 0.3rem;
    outline: -webkit-focus-ring-color auto 0.5rem;
  }
}

html {
  // A font-size of 62.5% will create a base font-size of 10px in most cases
  font-size: 62.5%;
}

body {
  background-color: black;
  border: 0.3rem solid $yellow;
  color: white;
  font: 400 1.6rem/1.2 $dosis, 'Arial', sans-serif;
  height: 100%;
  min-height: 100vh;
  padding: 1rem 2rem;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;

  @media only screen and ($md) {
    padding: 3rem 5rem;
  }
}

a {
  color: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:focus {
    color: gray;
    text-decoration: underline;
  }
}

img {
  display: block;
}

p {
  color: white;
  font-size: 2rem;
}
