/*
* Loading component
*/

.c-loading {
  bottom: 50%;
  display: flex;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
  z-index: 100;

  &.show {
    opacity: 1;
  }

  &__ball {
    animation: jump 0.5s ease-in infinite;
    background-color: rgba($yellow, 0.8);
    border-radius: 50%;
    height: 1rem;
    margin: 0.5rem;
    width: 1rem;

    &:nth-of-type(2) {
      animation-delay: 0.1s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.2s;
    }
  }

  @keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-1rem);
    }
  }
}
