// Accessible Visually Hidden and Screen Reader Utility

.u-sronly {
  &:not(:focus):not(:active) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem;
    z-index: -99999;
  }
}

.u-sronly-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
  z-index: -99999;
}
